<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="container">
    <a href="/">home</a> |
    <a href="/about">about</a> |
    <a onclick="isAdmin('<%= id %>', '<%= pwd %>');return false;" href="/admin">admin</a>
  </nav>
  <div class="container">
    <h1>게시판</h1>
    <form action="/create" method="post">
      <input type="text" name="post" placeholder="글을 입력하세요">
      <button type="submit">글쓰기</button>
    </form>
    <section>
      <h2>글목록</h2>
      <ul class="post-list">
      <!-- 내림차순(큰번호 순, 최근 작성 글) -->
      <% for(let i = posts.length - 1; i >= 0; i--) { %>
        <li>
          <div>글번호: <%= i %> 
            <%= posts[i] %> 
          </div>
          <form action="/delete/<%= i %>" method="post">
            <button type="submit">삭제</button>
          </form>
        </li>
      <% } %>
      </ul>
    </section>
  </div><!-- container -->

  <script>
    function isAdmin(id, pwd) {
      const checkId = prompt('관리자 아이디');
      if(checkId === 'admin') {
        const checkPwd = prompt('비밀번호')
        if(checkPwd === '1234') {
          location.href = '/admin'
        } else {
          alert('비밀번호가 틀립니다')
        }
      } else {
        alert('아이디가 틀립니다')
      }
      console.log(id, pwd)
    }
  </script>
</body>
</html>